<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smart Owl</title>
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 nav-bg">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-border d-flex align-items-center pb-3 mb-md-0 me-md-auto mt-3 ms-2 text-white text-decoration-none">
                        <img src="~/img/logo-small.png" alt="Owl Logo" class="img-fluid me-3" width="45"/>
                        <span class="fs-2 d-none d-sm-inline main-font ">SMART OWL</span>
                    </a>
                    <span class="ms-1 pt-3 ps-3 fs-4 d-none d-sm-inline main-font text-white">MENU</span>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link align-middle px-0">
                                <i class="fs-3 fas fa-home"></i>&nbsp;<span class="ms-1 fs-4 d-none d-sm-inline main-font">Home</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Contacts" asp-action="Index" class="nav-link px-0 align-middle">
                                <i class="fs-3 fas fa-user"></i>&nbsp;&nbsp;<span class="ms-1 fs-4 d-none d-sm-inline main-font">Contacts</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/BrittP-NBCC/AddressBook" target="_blank" class="nav-link px-0 align-middle">
                                <i class="fs-3 fab fa-github"></i>&nbsp;&nbsp;<span class="ms-1 fs-4 d-none d-sm-inline main-font">GitHub</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://brittanyjonah.com/" target="_blank" class="nav-link px-0 align-middle">
                                <i class="fs-3 fas fa-laptop-code"></i>&nbsp;<span class="ms-1 fs-4 d-none d-sm-inline main-font">Portfolio</span>
                            </a>
                        </li>
                        <!--DROPDOWN-->
                        <!--<li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline text-white">Code</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                </li>
            </ul>
        </li>-->
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
