@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="~/img/logo-large.svg" alt="Owl Logo" aria-label="Owl Logo" class="img-fluid"/>
    <br>
    <img class="me-2" height="60" src="img/tech/c.png">
    <img class="me-2" height="60" src="img/tech/net.png">
    <img class="me-2" height="60" src="img/tech/postgres.png">
    <br><br>                  
    <img class="me-2" height="60" src="img/tech/html.png">
    <img class="me-2" height="60" src="img/tech/css.png">
    <img class="me-2" height="60" src="img/tech/js.png">
    <img class="me-2" height="60" src="img/tech/bootstrap.svg">
    <h4 class="pt-5">A fully functioning Address Book created in C# with ASP.NET Core MVC</h4>
    <p>&copy 2021 Designed by <a href="https://brittanyjonah.com" target="_blank">Brittany Pitre</a></p>
</div>

